
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/user.js"></script>
    <title>Insert title here</title>
</head>
<body>
    <!-- Begin vung header -->
    <div>
        <div>
            <table>
                <tr>
                    <td width="80%">
                        <img src="../images/logo-manager-user.gif" alt="Luvina" />
                    </td>
                    <td></td>
                    <td align="left">
                        <a href="/logout">ログアウト</a> &nbsp; <a href="./listUser">トップ</a>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- End vung header -->
    @RenderBody()

    <!-- Begin vung footer -->
    <div class="lbl_footer">
        <br /><br /><br /><br />
        Copyright ©　2010　ルビナソフトウエア株式会社. All rights reserved.
    </div>
    <!-- End vung footer -->
</body>
</html>