
<form>
    <div id="close">+</div>
    <table class="tbl_input" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <th align="left">
                <div style="padding-left:100px;">
                    会員情報編集
                </div>
            </th>
        </tr>
        <tr id="validateTips"></tr>
        <tr>
            <td align="left">
                <div style="padding-left:100px;">
                    <div id="errList">
                        <p id="messLoginId"></p>
                        <p id="messEmail"></p>
                        <p id="messPhone"></p>
                        <p id="messPass"></p>
                    </div>
                    <table border="0" class="tbl_input" cellpadding="4" cellspacing="0">
                        <tr>
                            <td class="lbl_left"><font color="red">*</font> アカウント名:</td>
                            <td align="left">
                                <input class="txBox" type="text" name="loginId" value="" id="loginId"
                                       size="15" onfocus="this.style.borderColor='#0066ff';"
                                       onblur="this.style.borderColor='#aaaaaa';" />
                            </td>

                        </tr>
                        <tr>
                            <td class="lbl_left"><font color="red">*</font> グループ:</td>
                            <td align="left">
                                <select name="group_id" id="groupChoose">
                                    <option value="0">選択してください</option>
                                </select>
                                <span>&nbsp;&nbsp;&nbsp;</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="lbl_left"><font color="red">*</font> 氏名:</td>
                            <td align="left">
                                <input class="txBox" type="text" name="name" value="" id="fullName"
                                       size="30" onfocus="this.style.borderColor='#0066ff';"
                                       onblur="this.style.borderColor='#aaaaaa';" />
                            </td>
                        </tr>
                        <tr>
                            <td class="lbl_left">カタカナ氏名:</td>
                            <td align="left">
                                <input class="txBox" type="text" name="name" value="" id="fullNameKana"
                                       size="30" onfocus="this.style.borderColor='#0066ff';"
                                       onblur="this.style.borderColor='#aaaaaa';" />
                            </td>
                        </tr>
                        <tr>
                            <td class="lbl_left"><font color="red">*</font> 生年月日:</td>
                            <td align="left">
                                <select id="yearBirthday">
                                    <option value="1">1</option>
                                </select>年
                                <select id="monthBirthday">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12" selected="selected">12</option>
                                </select>月
                                <select id="dateBirthday">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31" selected="selected">31</option>
                                </select>日
                            </td>
                        </tr>
                        <tr>
                            <td class="lbl_left"><font color="red">*</font> メールアドレス:</td>
                            <td align="left">
                                <input class="txBox" type="text" id="email" value=""
                                       size="30" onfocus="this.style.borderColor='#0066ff';"
                                       onblur="this.style.borderColor='#aaaaaa';" />
                            </td>
                        </tr>
                        <tr>
                            <td class="lbl_left"><font color="red">*</font>電話番号:</td>
                            <td align="left">
                                <input class="txBox" type="text" name="tel" value="" id="tel"
                                       size="30" onfocus="this.style.borderColor='#0066ff';"
                                       onblur="this.style.borderColor='#aaaaaa';" />
                            </td>
                        </tr>
                        <tr>
                            <td class="lbl_left"><font color="red">*</font> パスワード:</td>
                            <td align="left">
                                <input class="txBox" type="password" id="password" value=""
                                       size="30" onfocus="this.style.borderColor='#0066ff';"
                                       onblur="this.style.borderColor='#aaaaaa';" />
                            </td>
                        </tr>
                        <tr>
                            <td class="lbl_left">パスワード（確認）:</td>
                            <td align="left">
                                <input class="txBox" type="password" name="email" value="" id="passwordConfirm"
                                       size="30" onfocus="this.style.borderColor='#0066ff';"
                                       onblur="this.style.borderColor='#aaaaaa';" />
                            </td>
                        </tr>
                        <tr>
                            <th align="left" colspan="2">
                                <p>日本語能力</p>
                            </th>
                        </tr>
                        <tr>
                            <td class="lbl_left">資格:</td>
                            <td align="left">
                                <select name="kyu_id" id="codeLevel">
                                    <option value="0">選択してください</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="lbl_left">資格交付日: </td>
                            <td align="left">
                                <select id="yearStart">
                                    <option value="2000">2000</option>
                                    <option value="2001">2001</option>
                                    <option value="2002">2002</option>
                                    <option value="2003">2003</option>
                                    <option value="2004">2004</option>
                                    <option value="2005">2005</option>
                                    <option value="2006">2006</option>
                                    <option value="2007">2007</option>
                                    <option value="2008">2008</option>
                                    <option value="2009">2009</option>
                                    <option value="2010" selected="selected">2010</option>
                                    <option value="2011">2011</option>
                                </select>年
                                <select id="monthStart">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12" selected="selected">12</option>
                                </select>月
                                <select id="dateStart">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31" selected="selected">31</option>
                                </select>日
                            </td>
                        </tr>
                        <tr>
                            <td class="lbl_left">失効日: </td>
                            <td align="left">
                                <select id="yearEnd">
                                    <option value="2000">2000</option>
                                    <option value="2001">2001</option>
                                    <option value="2002">2002</option>
                                    <option value="2003">2003</option>
                                    <option value="2004">2004</option>
                                    <option value="2005">2005</option>
                                    <option value="2006">2006</option>
                                    <option value="2007">2007</option>
                                    <option value="2008">2008</option>
                                    <option value="2009">2009</option>
                                    <option value="2010" selected="selected">2010</option>
                                    <option value="2011">2011</option>
                                </select>年
                                <select id="monthEnd">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12" selected="selected">12</option>
                                </select>月
                                <select id="dateEnd">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31" selected="selected">31</option>
                                </select>日
                            </td>
                        </tr>
                        <tr>
                            <td class="lbl_left">点数: </td>
                            <td align="left">
                                <input class="txBox" type="text" name="total" value="" id="total"
                                       size="5" onfocus="this.style.borderColor='#0066ff';"
                                       onblur="this.style.borderColor='#aaaaaa';" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <!-- Begin vung button -->
    <div style="padding-left:45px;">
        <table border="0" cellpadding="4" cellspacing="0" width="300px">
            <tr>
                <input type="hidden" id="userId" value="0" />
                <input type="hidden" name="type" value="${type}" />
                <input type="hidden" name="key" value="${key}" />
                <th width="200px" align="center">&nbsp;</th>
                <td>
                    <input class="btn" type="button" value="確認" id="btnSubmit" />
                </td>
                <td>
                    <input class="btn" type="button" onclick="location.href='./listUser'" value="戻る" />
                </td>
            </tr>
        </table>
        <!-- End vung button -->
</form>
